<!DOCTYPE html>
<html>
<head>
	<title>Lab 01 SI</title>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js" ></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


	<script src="app.js"></script>
	<script src="classes.js"></script>
	<script src="services/artists.js"></script>
	<script src="services/albums.js"></script>
	<script src="services/songs.js"></script>
	<script src="controller.js"></script>
</head>

<body ng-app="app">	
	<div id="tabs" ng-controller="tabController">
		<button class="tab" id="artist-tab" ng-click="showArtist()">Artistas</button>
		<button class="tab" id="song-tab"   ng-click="showSong()">Músicas</button>
		<button class="tab" id="search-tab" ng-click="showSearch()">Pesquisar Artistas</button>
	</div>

	<div class="card not-active" id="artist-card" ng-controller="artistController">
		<h3>{{title}}</h3>
		<form ng-submit="submit()" ng-model="artist">
			<p>Preencha as informações do artista:</p>

			<label>Nome do artista: </br>
				<textarea class="small-input" type="text" ng-model="artist.name" required></textarea>
			</label></br>

			<label>Informações do artista (opcional): </br>
				<textarea class="small-input" type="text" ng-model="artist.info"></textarea>
			</label></br>

			<label>Link para imagem do artista (opcional): </br>
				<textarea class="small-input" type="text" ng-model="artist.image"></textarea>
			</label></br>

			<input class="button" type="submit" value="Adicionar novo artista">
			<p>{{message}}</p>
		</form>

		<form>
			<label> 
				<input type="checkbox" ng-model="fav"/>
				Apenas favoritos
			</label><br>
		</form>

		<ul class="artist-list list-unstyled" id="all-artists">
			<li class="media artist" ng-repeat="artist in getArtistList() | filter: fav ? {fav : true} : {}">
				<img class="align-self-start mr-3 artist-img" src="{{artist.image}}" alt="{{artist.name}}">
				<div class="media-body">
					<h5 class="mt-0">{{artist.name}}</h5>
					{{artist.info}}
				</div>
			</li>
		</ul>
	</div>

	<div class="card not-active" id="song-card" ng-controller="songController">
		<h3>{{title}}</h3>
		<form ng-submit="submit()" ng-model="song">
			<p>Preencha as informações da música:</p>

			<label>Nome da música: </br>
				<textarea class="smaller-input" type="text" ng-model="song.name" required></textarea>
			</label></br>

			<label>Artista: </br>
				<textarea class="smaller-input" type="text" ng-model="song.artist" required></textarea>
			</label></br>

			<label>Álbum: </br>
				<textarea class="smaller-input" type="text" ng-model="song.album" required></textarea>
			</label></br>

			<label>Ano de lançamento: </br>
				<textarea class="smaller-input" type="text" ng-model="song.year" required></textarea>
			</label></br>

			<label>Duração: </br>
				<textarea class="smaller-input" type="text" ng-model="song.duration" required></textarea>
			</label></br>

			<input class="button" type="submit" value="Adicionar nova música">
			<p>{{message}}</p>
		</form>

		<div id="song-list">
			<div class="song" ng-repeat="song in getSongList()">
				<div class="song-name">{{song.name}}</div>
				<div class="song-artist">{{song.artist}}</div>
				<div class="song-album">{{song.album}}</div>
				<div class="song-year">{{song.year}}</div>
				<div class="song-duration">{{song.duration}}</div>
			</div>
		</div>
	</div>

	<div class="card not-active" id="search-card" ng-controller="searchController">
		<h3>{{ title }}</h3>
		<form>
			<label>Pesquise artistas pelo nome:</br>
				<textarea class="smaller-input" type="text" ng-model="search" required></textarea>
			</label></br>
		</form>
		
		<div class="artist-list" id="search-artists">
			<div class="artist-search" ng-repeat="artist in getArtistList() | filter: {name : search }">
				<div data-toggle="modal" data-target="#displayArtist" ng-click="artistClick(artist.name)" class="name">{{artist.name}}</div>
			</div>
		</div>

		<div class="modal fade" id="displayArtist" tabindex="-1" role="dialog" aria-labelledby="displayLabel" aria-hidden="true">
			<div class="modal-dialog wider-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="displayLabel">{{getDisplay().name}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="media">
							<img class="align-self-start mr-3 artist-img" src="{{getDisplay().image}}" alt="{{getDisplay().name}}">
							<div class="media-body">
								<h5 class="mt-0">{{getDisplay().name}} <i ng-click="toggleFav(getDisplay().name)" class="{{getFav(getDisplay().name)}}" aria-hidden="true"></i></h5>
								<p>{{getDisplay().info}}</p>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								Lista de álbums:
								<ul>
									<li ng-repeat="album in albumsWithArtist(getDisplay().name)">{{album.name}}</li>
								</ul>
							</div>
							<div class="col-md-6">

								<form ng-submit="setRating(getDisplay().name, ratingForm)">
									<div class="row">
										<div class="col-md-12">
											<label>Nota do artista:</label>
										</div>	
									</div>

									<div class="row">
										<div class="col-md-8">
											<input type="text" ng-model="ratingForm" class="form-control display-input" placeholder="{{getRating(getDisplay().name)}}"/>
										</div>
										<div class="col-md-4">
											<button class="btn btn-primary" type="submit">Modificar</button>
										</div>
									</div>	
								</form>

								<form ng-submit="setLastSong(getDisplay().name, lastSongForm)">
									<div class="row">
										<div class="col-md-12">
											<label>Última música escutada:</label>
										</div>	
									</div>

									<div class="row">
										<div class="col-md-8">
											<input type="text" ng-model="lastSongForm" class="form-control display-input" placeholder="{{getLastSong(getDisplay().name)}}"/>
										</div>
										<div class="col-md-4">
											<button class="btn btn-primary" type="submit">Modificar</button>
										</div>
									</div>	
								</form>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>