body {
	background-color: #f1f1f1;
}

.small-input {
	height: 40px;
	width: 300px;
	max-height: 100px;
	max-width: 400px;
}

.smaller-input {
	width: 300px;
	max-height: 30px;
	max-width: 300px;
}


.button {
	margin: 10px;
	padding: 4px;
}

.card {
	border: 1px solid #cccccc;
	border-top: none;
	padding: 10px;

	min-width: 520px;
	max-width: 800px;

	background-color: #00f1f1;
}

.artist-list .artist, .artist-list .artist-search, .playlist-list {
	min-height: 80px;

	min-width: 520px;
	max-width: 750px;

	border: 1px solid black;
	margin: 4px;
	overflow:auto; 
}

.artist-list .artist-search, .playlist-list{
	min-height: 30px;
}

.name {
	font-size: 20px;
	padding: 10px 5px 10px 25px;
}

.name:hover {
	cursor: pointer;
}

.artist-list .artist .name {
	font-size: 22px;
	text-align: center;
}

.artist-list .artist .info {
	margin-top: 10px;
	font-size: 16px;
}

.artist-list .name-info-wrapper {
	float: left;
	display: inline-block;
	margin: 10px 5px 10px 25px;

	width: 80%;
	max-width: 300px;

	max-height: 150px;
}

.artist-list .artist .img {
	float: right;
	margin: 10px 25px 10px 5px;

	max-height: 150px;
	max-width: 150px;
}

.artist-img {
	max-height: 150px;
	max-width: 150px;
}

.not-active {
	display: none;
}

#tabs {
	overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #00ddf1;
    
    min-width: 540px;
    max-width: 800px;
}

.tab {
    background-color: #00ddf1;
    float: left;
    padding: 15px 20px;
	border: none;
    outline: none;
}

#tabs button:hover {
	background-color: #00f1f1;
}

.current-tab {
	background-color: #00f1f1;	
}

#song-list .song {
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 2px dashed #f69c55;
	overflow: hidden;

	min-width: 500px;

	border: 1px solid black;
	margin: 4px;
}

#song-list .song div {
	float: left;

	display: inline-block;
	vertical-align: middle;
}

#song-list .song .song-name {
	width: 25%;
}

#song-list .song .song-artist {
	width: 25%;
}

#song-list .song .song-album {
	width: 20%;
}

#song-list .song .song-year {
	width: 15%;
}

#song-list .song .song-duration {
	width: 15%;
}

.wider-dialog {
	max-width: 800px !important;
}