body {
	background-color: #f1f1f1;
}

.small-input {
	height: 40px;
	width: 300px;
	max-height: 100px;
	max-width: 400px;
}

.smaller-input {
	width: 300px;
	max-height: 30px;
	max-width: 300px;
}


.button {
	margin: 10px;
	padding: 4px;
}

.card {
	border: 1px solid #cccccc;
	border-top: none;
	padding: 10px;

	min-width: 520px;
	max-width: 800px;

	background-color: #00f1f1;
}

.artist-list .artist, .artist-list .artist-search, .playlist-list {
	min-height: 80px;

	min-width: 520px;
	max-width: 750px;

	border: 1px solid black;
	margin: 4px;
	overflow:auto; 
}

.artist-list .artist-search, .playlist-list{
	min-height: 30px;
}

.name {
	font-size: 20px;
	padding: 10px 5px 10px 25px;
}

.name:hover {
	cursor: pointer;
}

.artist-list .artist .name {
	font-size: 22px;
	text-align: center;
}

.artist-list .artist .info {
	margin-top: 10px;
	font-size: 16px;
}

.artist-list .name-info-wrapper {
	float: left;
	display: inline-block;
	margin: 10px 5px 10px 25px;

	width: 80%;
	max-width: 300px;

	max-height: 150px;
}

.artist-list .artist .img {
	float: right;
	margin: 10px 25px 10px 5px;

	max-height: 150px;
	max-width: 150px;
}

.artist-img {
	max-height: 150px;
	max-width: 150px;
}

.not-active {
	display: none;
}

#tabs {
	overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #00ddf1;
    
    min-width: 540px;
    max-width: 800px;
}

.tab {
    background-color: #00ddf1;
    float: left;
    padding: 15px 20px;
	border: none;
    outline: none;
}

#tabs button:hover {
	background-color: #00f1f1;
}

.current-tab {
	background-color: #00f1f1;	
}

#song-list .song {
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 2px dashed #f69c55;
	overflow: hidden;

	min-width: 500px;

	border: 1px solid black;
	margin: 4px;
}

#song-list .song div {
	float: left;

	display: inline-block;
	vertical-align: middle;
}

#song-list .song .song-name {
	width: 25%;
}

#song-list .song .song-artist {
	width: 25%;
}

#song-list .song .song-album {
	width: 20%;
}

#song-list .song .song-year {
	width: 15%;
}

#song-list .song .song-duration {
	width: 15%;
}

.wider-dialog {
	max-width: 800px !important;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

.loginmodal-container {
  padding: 30px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}